{% extends 'base.html.twig' %}

{% block title %}ForumCommentaire{% endblock %}

{% block body %}
    <h1>ForumCommentaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ forum_commentaire.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ forum_commentaire.date }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ forum_commentaire.description }}</td>
            </tr>
            <tr>
                <th>Reaction</th>
                <td>{{ forum_commentaire.reaction }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary"  href="{{ path('forum_commentaire_index') }}" > back to list</a>

    <a href="{{ path('forum_commentaire_edit', {'id': forum_commentaire.id}) }}">edit</a>

    {{ include('forum_commentaire/_delete_form.html.twig') }}
{% endblock %}
