{% extends 'base.html.twig' %}

{% block title %}PublicationForum index{% endblock %}

{% block content %}
<div class="container">
    <h1 style="color:#0000ff;">Forum ElGitoun</h1>

    <table class="table table-sm">
        <thead>
            <tr>
                
                
                <th scope="col"></th>
                <th scope="col">Description</th>
                <th scope="col">User_id</th>
                <th scope="col">Titre</th>
                <th scope="col">image</th>
            </tr>
        </thead>
        <tbody>
       {% for m in forum  %}

        <tr>
          <td>
          </td>
          
          <td>{{ m.Description}}</td>
          <td>{{ m.getUser.getFirstname }}</td>
          <td>{{ m.Titre}}</td>
          <td>{{ m.image}}</td>
           
     <td><a class="btn btn-warning"href="{{ path("updateM",{"id":m.id}) }}">update</a></td>
    <td> <a class="btn btn-danger" href="{{ path("deleteM",{"id":m.id}) }}">delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
<a href="{{ path("addpost") }}" class="btn btn-primary">Add post</a>
</div>
{% endblock %}
