{% extends 'dashboard.html.twig' %}
{% block title %} all users {% endblock %}
{% block content %}
{% block body %}
<div class="container mt-4" style="height:70vh">
<h1>all users</h1>
{% for message in app.flashes('success') %}
<div class="alert alert-success">
    {{message}}
</div>
{% endfor %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>first_name</th>
            <th>last_name</th>
            <th>email</th>
            <th>birth_date</th>
            <th>gender</th>
            
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.getId}}</td>
            <td>{{ user.getFirstName}}</td>
            <td>{{ user.getLastName}}</td>
            <td>{{ user.email}}</td>
            <td>{{ user.getBirthDate|date('Y-m-d')}}</td>
            <td>{{ user.gender}}</td>
            <td>
                <a href="" class="btn btn-secondary"> edit </a>
                <form method="POST" action="{{path('user.delete', {id: user.id}) }}" style="display:inline-block" onsubmit="return confirm('etes vous sur ?')">
                   <input type="hidden" name="_method"  value="DELETE">
                   <button class="btn btn-danger">Supprimer</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


</div>

{% endblock %}

{% endblock %}



